.titlu{
    color: red;
    font-size: 19px;
}

.numeAgentie{
    color:rgb(90,71,84);
    font-size: 36px;
}
.numarTelefon{
    color: rgb(0,0,120);
}

.numarTelefonAgentie{
    color:green;
}

.locatie{
    color:yellow;
}

.email{
    color: aqua;
}

.emailAgentie{
    color: rgb(120, 14 , 54);
}

/* Div in care sunt puse detaliile de contact */
.cardContact{
    width: 800px;
    height: 600px;
    background-color: rgb(161, 185, 185);
    margin-top: 100px;
    margin-left: 30%;
}

/* Div-ul in care sunt puse detaliile despre mail */
.trimitereEmail{
    width: 1000px;
    height: 400px;
    background-color: rgb(212, 104, 104);
    margin-top: 100px;
    margin-left: 20%;
}

/* Input unde se pune adresa de mail */
.campEmail{
    margin-top: 10px;
    background-color: aqua;
}

/* Eticheta pentru adresa de mail */
.etichetaEmail{
    font-size: 30px;
    color: greenyellow;
}

.inputEmail{
    font-size: 20px;
    width: 420px;
}

/* Div-ul in care sunt puse elementele ce fac parte din mesaj */
.campMesaj{
    margin-top: 10px;
    /* background-color: rgb(22, 167, 65); */
}

/* Eticheta de la mesaj */
.etichetaMesaj{
    font-size: 30px;
    color: aquamarine;
}

/* Textul mesajului */
.textMesaj{
   
    width: 96%;
    height: 80px;
	text-align:left;
}

/* Butonul de trimitere mesaj */
.buton{
    background-color: rgb(255, 255, 0);
    font-size: 20px;
    color: blue;
    margin-top: 10px;
    margin-left: 30%;
    width: 400px;
    height: 100px;
}