/* Titlul paginii */
.titlu{
    text-align: center;
    font-size: 100px;
    color: rgb(72, 204, 72);
}

/* Descrierea firmei */
.descriereDespre{
    width: 100%;
    font-size: 30px;
    color: royalblue;
    font-family: 'Libre Baskerville', serif;
}
/* Prima litera din descrierea textului */
.descriereDespre::first-letter{
    font-style: italic;
    font-size: 35px;
    margin-left: 8px;
}
/* Imaginile de pe site */
.imagineAnunt{
    width: 100%;
}
.imagini{
    background-color: yellowgreen;
    display: flex;
}

/* Imaginea in sine */
.imagine{
    flex:33.3%;
    padding: 5px;
}

/* Div ce contine videoclipul de prezentare al firmei */
.filmPrezentare{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(151, 41, 41);
    height: 325px;
    width: 100%;
}
/* Videoclipul propriu-zis */
.containerVideo{
    margin-left: 30%;
    width: 800px;
}