.headerMeniu{
    background-color: red;
    height: 120px;
    width: 100%;
  }

  .imagineLogo{
    margin-top: 10px;
    margin-left: 10px;
    width: 100px;
    height: 100px;
    float: left;
  }

  #container{
    width: 1400px;
    margin: 0 auto;


  }

 

  /* .divImagine{
    height: 140px;
    width: 200px;
    background-image: url(Imagini/logoFirma.png);
  } */

  nav{
    float: left;
    margin-top: -80px;
    margin-left: 100px;
  }

  /* UL este lista intreaga */




  #meniuPrincipal {
    margin:10px;
    width:1200px;
    font-family: sans-serif;
  }
  #meniuPrincipal li {
    position:relative;display:block;
    width:120px;
    float:left;
    margin-left:2px;
  }
  #meniuPrincipal a {
    display:block;
    padding:3px;
    text-decoration:none;
    color:rgb(187, 199, 75);
  }

  .userMenu{
    margin-top: -5px;
    
  }

  .butonUser{
    display:block;
    padding:1px;
    text-decoration:none;
    background-color:rgb(156, 201, 32);
  }
  #meniuPrincipal a:hover {
    background-color:#009;
    color:#fff;
  }
  #meniuPrincipal li ul {
    position:absolute;
    margin:0px;
    padding:0px;
    left:-3px;
    top:22px;
    display:none;
  }
  #meniuPrincipal li ul li {
    width:150px;
    font-size:smaller;
    border-top:none;
  }
  #meniuPrincipal li ul li:first-child {
    border-top:1px solid #000;
    color: aqua;
  }
  #meniuPrincipal li:hover ul {
    display:block;
    color: green;
  }