.container{
    max-width: 900px;
    margin:0 auto;

    margin-top: 50px;
}

.cardStire{
     /* Change background color */
  background-color: whitesmoke;
  width: 900px;
  /* Add border */
  border: 1px solid #bacdd8;

  /* Add space between the border and the content */
  padding: 8px;

  border-radius: 12px;
}

.continutStire{
    width: 900px;
    
    font-size: 24px;
}
.detaliiStire{
    width: 900px;
    padding: 16px 8px 8px 8px;
}

.numeStire{
    font-size: 24px;
    font-weight: 600;
    width: 900px;
    margin-top: 16px;
    color: rgb(231, 231, 12);
}

p{
    font-size: 14px;
    color: red;
  /* color: #7f8c9b; */
  line-height: 150%;
}

.imagineStire{
    margin-left: 20%;
    width: 500px;
}