

.form{
   
    width: 300px;
    margin-left: 500px;
}

.submit{
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin-right: 1100px;
    margin-top: 5px;
    width: 300px;
  }

  .card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }

  .imagine{
    width:100px;
  }

  .programare{
    background-color: #04AA6D;
    color: yellow;
    padding: 5px;
    cursor: pointer;
  }

  .programari{
    background-color: #d6e930;
    color: rgb(185, 29, 206);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin-right: 1100px;
    margin-top: 5px;
    width: 300px;
  }

  .tipuri{
    display: flex;
    flex-direction: column;
    position: absolute;
    /* top: 40%; */
    left: 50%;
    transform: translate(-50%, -50%);
    /* margin-top: 20px; */
  }