/* Titul Paginii */
.titluVanzari{
    font-size: 50px;
    font-family: 'Libre Baskerville', serif;
    color: burlywood;
    text-align: center;
}


#garsoniere{
    align-items: center;
    width: 100%;
    

}
/* Card-ul care contine anunturile */
.anunt{
   
    margin-top: 10px;
    margin-left: 350px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;
}

.anunt:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Imaginea din anunt */
.imagineAnunt{
    width: 100%;
}
img {
    border-radius: 5px 5px 0 0;
  }

/* Card ce contine detalii text despre anunt */
.continutAnunt{
    padding: 2px 16px;
}

/* Text din card ce contine numele autorului */
.autor{
    font-size: 30px;
    color: rgb(174, 221, 22);
}
/* Text din anunt ce contine textul anuntului */
.descriereAnunt{
    color: rgb(64, 20, 146);
}
/* Titlul sectiunii unde sunt prezentate garsonierele */
.titluGarsoniere{
    text-align: center;
    font-size: 30px;
    color: rgb(36, 187, 162);
}
/* Titlul sectiunii unde sunt prezentate apartamentele */
.titluApratamente{
    text-align: center;
    font-size: 40px;
    color: rgb(199, 135, 33);
}

/* Titlul sectiunii unde sunt prezentate casele */
.titluCase{
    text-align: center;
    font-size: 50px;
    color: rgb(190, 22, 64);
}